.my-form {
  margin-top: 1em;
  margin-bottom: 1em;
  background: whitesmoke;
  /* max-width: 84em; */
  align-content: center;
}

pre {
  background: #cecece;
}

label {
  font-weight: bold;
  font-size: 13px;
  display: block;
  float: left 1px;
}

.space {
  display: auto;
}

.sp-below {
  margin-bottom: 1em;
}

.three-column {
  display: grid;
  grid-template-columns: 1fr 1fr auto;
}

.two-column {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

body {
  text-align: center;
}

.center-form {
  text-align: left;
}

.form-header {
  background-color: #350e16;
  color: white;
  /* background: maroon; */
}

.inside-form {
  position: relative;
  box-sizing: border-box;
  width: 98.66668%;
  top: 0.5em;
  left: 0.66666%;
}
